<section class='rays {{ color|default('') }}'>
    <div class='glow'></div>
    <div class='hero'></div>
</section>

<div class="particles">
    {% for i in 1..50 %}
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    {% endfor %}
</div>