<div class="buttons-container justify-center">
    <a href="{{ path('connect_google_start') }}"
       class="flex w-full justify-center button button-primary button-very-dark-grey button-very-dark-grey-primary">
        <img src="{{ asset('images/logos/google-logo.png') }}" alt="Google logo"
             class="h-5 button object-contain rounded-none">
        Sign in with Google
    </a>
</div>