<header>
    <a href="{{ path('home') }}" class="flex gap-5 items-center">
        <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo" class="h-12">
        Quizstack
    </a>
</header>