{% extends 'base.html.twig' %}

{% block title %}Header{% endblock %}

{% block body %}

    <h1>Header</h1>

{#    <div class="example-wrapper">#}
{#        <div>#}
{#            <p class="font-bold text-6xl text-center">Ceci est une démonstration</p>#}
{#        </div>#}
{#        <div>{{ react_component('Stacks', {'fullName': 'Quizstack'}) }}</div>#}
{#    </div>#}

{% endblock %}
