<li>
    <a href="{{ path('scores') }}" class="button button-tertiary">
        <span class="material-icons">emoji_events</span>
        Hall of fame
    </a>
</li>
<li>
    <a href="{{ path('app_filters') }}" class="button button-tertiary">
        <span class="material-icons">tune</span>
        Filters
    </a>
</li>
<li>
    <a href="{{ path('activity') }}" class="button button-tertiary">
        <span class="material-icons">chat_bubble</span>
        Activity
    </a>
</li>
<li>
    <a href="{{ path('app_contact') }}" class="button button-tertiary">
        <span class="material-icons">mail</span>
        Contact
    </a>
</li>
