<div class="wrapper wrapper-large">
    <div class="glass box flex flex-col gap-spacing-primary mb-spacing-primary">
        <div>
            <h2 class="small-title">
                <span class="material-icons">info</span>
                Your score is hidden
            </h2>
            <p>Please set a username to display your score on the leaderboard.</p>
        </div>
        <div class="buttons-container">
            <a href="{{ path('profile_edit') }}" class="button button-gold button-primary">
                Profile
            </a>
        </div>
    </div>
</div>
