<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizstack Password Reset</title>
</head>
<body style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100%; background-color: #e6e6e6; font-family: Arial, Helvetica, sans-serif;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border-collapse: collapse; border-spacing: 0; max-width: 100%;">
    <tr>
        <td align="center" style="padding: 0;">
            <!-- Wrapper table for content centering -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize" id="newsletter"
                   style="border-collapse: collapse; border-spacing: 0; max-width: 600px; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                <tr>
                    <td bgcolor="#FFFFFF" style="padding: 0;">
                        <!-- Header with black background -->
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                               style="table-layout: fixed; max-width: 600px;" bgcolor="#0F0F0F">
                            <tr bgcolor="#0F0F0F">
                                <td height="20" style="line-height: 20px; font-size: 0;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding: 0;">
                                    <a href="http://quizstack.io/" target="_blank"
                                       style="text-decoration: none; display: block; font-size: 0;">
                                        <table width="200" border="0" cellpadding="0" cellspacing="0"
                                               style="max-width: 200px;">
                                            <tr>
                                                <td align="center" style="padding: 0;">
                                                    <img alt="Quizstack" border="0"
                                                         src="https://quizstack.io/images/decoration/quizstack-email-header.png"
                                                         width="200"
                                                         style="width: 200px; max-width: 100%; height: auto; display: block; border: 0;">
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            <tr bgcolor="#0F0F0F">
                                <td height="20" style="line-height: 20px; font-size: 0;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" height="20" style="line-height: 20px; font-size: 0;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#FFFFFF" style="padding: 0 15px;">
                        <!-- Main content -->
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                               width="100%" style="max-width: 545px; table-layout: fixed;">
                            <tr>
                                <td align="left" style="padding: 0;">
                                    <p style="margin: 0; font-size: 13px; font-family: Arial; line-height: 1.5;">
                                        To reset your password, please visit the following link.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" height="10" style="line-height: 10px; font-size: 0;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#FFFFFF" style="padding: 0 15px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                               width="100%" style="max-width: 545px; table-layout: fixed;">
                            <tr>
                                <td align="left" style="padding: 0;">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #7da80d; border-radius: 4px;">
                                                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"
                                                   target="_blank"
                                                   style="text-decoration: none; font-size: 15px; font-weight: 500; color: #ffffff; font-family: Arial; display: inline-block; padding: 8px 16px;">
                                                    Reset your password
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" height="10" style="line-height: 10px; font-size: 0;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#FFFFFF" style="padding: 0 15px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                               width="100%" style="max-width: 545px; table-layout: fixed;">
                            <tr>
                                <td align="left" style="padding: 0;">
                                    <p style="margin: 0; font-size: 13px; font-family: Arial; line-height: 1.5;">
                                        This link will expire
                                        in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                                        .
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" height="20" style="line-height: 20px; font-size: 0;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" style="padding: 0;">
                        <!-- Footer with black background -->
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                               style="table-layout: fixed; max-width: 600px;" bgcolor="#0F0F0F">
                            <tr bgcolor="#0F0F0F">
                                <td height="10" style="line-height: 10px; font-size: 0;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding: 0;">
                                    <a href="http://quizstack.io/" target="_blank"
                                       style="text-decoration: none; color: white; font-size: 12px; font-weight: 500; line-height: 1.5; display: inline-block;">
                                        © Quizstack
                                    </a>
                                </td>
                            </tr>
                            <tr bgcolor="#0F0F0F">
                                <td height="10" style="line-height: 10px; font-size: 0;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

{# <body class="is-html-mode" contenteditable="false"> #}
{# <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" #}
{#       style="border-collapse: collapse; border-spacing: 0;" contenteditable="false"> #}
{#    <tbody> #}
{#    <tr> #}
{#        <td align="center" bgcolor="#e6e6e6"> #}
{#            <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize" id="newsletter" #}
{#                   style="border-collapse: collapse; border-spacing: 0; max-width:99%;table-layout:fixed;font-family:Arial, Helvetica, sans-serif;font-size:11px;" #}
{#                   width="600" contenteditable="false"> #}
{#                <tbody> #}
{#                <tr> #}
{#                    <td bgcolor="#FFFFFF"> #}
{#                        <table width="600" align="center" border="0" cellpadding="0" #}
{#                               cellspacing="0" #}
{#                               style="table-layout: fixed;" bgcolor="#0F0F0F"> #}
{#                            <tbody> #}
{#                            <tr bgcolor="#0F0F0F"> #}
{#                                <td height="20"> #}
{#                                </td> #}
{#                            </tr> #}
{#                            <tr> #}
{#                                <td align="center"> #}
{#                                    <a href="http://quizstack.io/" target="_blank" #}
{#                                       style="text-decoration: none; display: block; font-size: 0;"> #}
{#                                        <table width="200" border="0" cellpadding="0" cellspacing="0"> #}
{#                                            <tr> #}
{#                                                <td align="center"> #}
{#                                                    <img alt="Quizstack" border="0" #}
{#                                                         src="https://quizstack.io/images/decoration/quizstack-email-header.png" #}
{#                                                         width="200" #}
{#                                                         style="width: 200px; max-width: 200px; height: auto; display: block;"> #}
{#                                                </td> #}
{#                                            </tr> #}
{#                                        </table> #}
{#                                    </a> #}
{#                                </td> #}
{#                            </tr> #}
{#                            <tr bgcolor="#0F0F0F"> #}
{#                                <td height="20"> #}
{#                                </td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr bgcolor="#FFFFFF"> #}
{#                    <td height="20"> #}
{#                        <br> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr> #}
{#                    <td align="center" bgcolor="#FFFFFF" style="border-spacing: 0"> #}
{#                        <table contenteditable="false" align="center" border="0" cellpadding="0" cellspacing="0" #}
{#                               width="545" #}
{#                               style="table-layout: fixed;"> #}
{#                            <tbody> #}
{#                            <tr valign="bottom"> #}
{#                                <td align="left" width="545" style="padding: 0;"> #}
{#                                    <p style="margin:0;font-size:13px; font-family: Arial;"> #}
{#                                        To reset your password, please visit the following link. #}
{#                                    </p> #}
{#                                </td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr bgcolor="#FFFFFF"> #}
{#                    <td height="10"> #}
{#                        <br> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr> #}
{#                    <td align="center" bgcolor="#FFFFFF" style="border-spacing: 0"> #}
{#                        <table contenteditable="false" align="center" border="0" cellpadding="0" cellspacing="0" #}
{#                               width="545" #}
{#                               style="table-layout: fixed;"> #}
{#                            <tbody> #}
{#                            <tr valign="bottom"> #}
{#                                <td align="left" width="545" style="padding: 0;"> #}
{#                                    <table contenteditable="false" align="center" border="0" cellpadding="0" #}
{#                                           cellspacing="0" style="table-layout: fixed;"> #}
{#                                        <tbody> #}
{#                                        <tr> #}

{#                                            <td style="background-color: #7da80d; border-radius: 4px;"> #}
{#                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"> #}
{#                                                    <tr> #}
{#                                                        <td style="padding: 8px 16px;"> #}
{#                                                            <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" #}
{#                                                               target="_blank" #}
{#                                                               style="text-decoration: none; font-size: 15px; font-weight: 500; color: #ffffff; font-family: Arial; display: block;"> #}
{#                                                                Reset your password #}
{#                                                            </a> #}
{#                                                        </td> #}
{#                                                    </tr> #}
{#                                                </table> #}
{#                                            </td> #}
{#                                        </tr> #}
{#                                        </tbody> #}
{#                                    </table> #}
{#                                </td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr bgcolor="#FFFFFF"> #}
{#                    <td height="10"> #}
{#                        <br> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr> #}
{#                    <td align="center" bgcolor="#FFFFFF" style="border-spacing: 0"> #}
{#                        <table contenteditable="false" align="center" border="0" cellpadding="0" cellspacing="0" #}
{#                               width="545" #}
{#                               style="table-layout: fixed;"> #}
{#                            <tbody> #}
{#                            <tr valign="bottom"> #}
{#                                <td align="left" width="545" style="padding: 0;"> #}
{#                                    <p style="margin:0;font-size:13px; font-family: Arial;"> #}
{#                                        This link will expire #}
{#                                        in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} #}
{#                                        . #}
{#                                    </p> #}
{#                                </td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr bgcolor="#FFFFFF"> #}
{#                    <td height="20"> #}
{#                        <br> #}
{#                    </td> #}
{#                </tr> #}
{#                <tr> #}
{#                    <td bgcolor="#FFFFFF"> #}
{#                        <table width="600" contenteditable="false" align="center" border="0" cellpadding="0" #}
{#                               cellspacing="0" #}
{#                               style="table-layout: fixed;" bgcolor="#0F0F0F"> #}
{#                            <tbody> #}
{#                            <tr bgcolor="#0F0F0F"> #}
{#                                <td height="10"> #}
{#                                </td> #}
{#                            </tr> #}
{#                            <tr> #}
{#                                <td align="center"> #}
{#                                    <a href="http://quizstack.io/" target="_blank" #}
{#                                       style="text-decoration: none; color: white; font-size: 12px; font-weight: 500;"> #}
{#                                        © Quizstack #}
{#                                    </a> #}
{#                                </td> #}
{#                            </tr> #}
{#                            <tr bgcolor="#0F0F0F"> #}
{#                                <td height="10"> #}
{#                                </td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </td> #}
{#                </tr> #}
{#                </tbody> #}
{#            </table> #}
{#        </td> #}
{#    </tr> #}
{#    </tbody> #}
{# </table> #}
{# </body> #}