{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Categories list</h1>


        <a href="{{ path('categories_edit') }}">
            Edit
        </a>

        <div class="categories-list">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.status }}</td>
                        <td>{{ category.name }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No categories.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}