{% if is_granted('ROLE_ADMIN') %}
    <div class="yaml-injector-container">
        <h2 class="small-title">
            <span class="material-icons">auto_mode</span>
            <label for="yamlFileInput">Autocompletion</label>
        </h2>
        <input type="file" id="yamlFileInput" accept=".yml,.yaml">
        <div id="errorMessage" class="error-message text-sm mt-2"></div>
        <div id="successMessage" class="success-message text-sm mt-2"></div>
    </div>
{% endif %}