<div class="yaml-autocomplete-container">
    <h2 class="small-title">
        <span class="material-icons">auto_mode</span>
        <label for="yamlFileInput">Autocompletion</label>
    </h2>
    <input type="file" id="yamlFileInput" accept=".yml,.yaml">
</div>