<div>
    <h2 class="small-title">
        <span class="material-icons">category</span>
        {{ form.categories.vars.label }}
    </h2>
    <ul class="tags-container">
        {% for category in form.categories %}
            <li class="flex">
                <span class="tag">
                    {{ form_widget(category) }}
                    {{ form_label(category) }}
                </span>
            </li>
        {% endfor %}
    </ul>
    {{ form_errors(form.categories) }}
</div>