<div class="yaml-splitter-container">
    <h2 class="small-title">
        <span class="material-icons">content_cut</span>
        <label for="yamlFileSplitter">Splitter</label>
    </h2>
    <input type="file" id="yamlFileSplitter" accept=".yml,.yaml">
</div>