<div>
    <h2 class="small-title items-center justify-between">
        <div class="flex items-center">
            <span class="material-icons">calendar_today</span>
            {{ form.creationDate.vars.label }}
        </div>
    </h2>
    {{ form_widget(form.creationDate) }}
</div>