{#{{ form_row(form.title) }}#}

<div>
    <h2 class="small-title">
        <span class="material-icons">title</span>
        {{ form.title.vars.label }}
    </h2>
    {{ form_widget(form.title) }}
</div>