<div>
    <h2 class="small-title items-center justify-between">
        <div class="flex items-center">
            <span class="material-icons">event_repeat</span>
            {{ form.updateDate.vars.label }}
        </div>
    </h2>
    {{ form_widget(form.updateDate) }}
</div>