#blog-container {
  .card.card-blue .material-icons {
    color: unset;
  }
}

#article-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-secondary);

  h1, h2, h3 {
    font-weight: 700;

    &:not(:first-child) {
      margin-top: var(--spacing-secondary);
    }
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    color: color-mix(in srgb, theme('colors.white-primary') 75%, transparent);
    line-height: 1.5rem;

    > * {
      color: theme('colors.white-primary');
    }

    > code {
      background-color: theme('colors.very-dark-grey-primary');
      padding: 3px 6px;
      margin-left: 3px;
      margin-right: 3px;
      border-radius: 3px;
      font-size: 0.875rem;
    }
  }

  a {
    color: theme('colors.blue-secondary');
  }

  pre[class*="language-"] {
    margin: unset;
  }

  blockquote {
    padding: var(--spacing-secondary);
    background-color: rgb(from theme('colors.blue-primary') r g b / 25%);
    border-radius: var(--radius-secondary);
    padding-left: calc(var(--spacing-primary) * 1.5);
  }

  blockquote {
    position: relative;
  }

  blockquote::before {
    content: "info";
    font-family: 'Material Icons', serif;
    position: absolute;
    top: calc(var(--spacing-secondary) + .05rem);
    left: calc(var(--spacing-secondary) + .05rem);
    font-size: 20px;
  }

  img {
    border-radius: var(--radius-secondary);
  }
}