:root {
  --background-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='none'%3E%3Cpolyline points='216 72 104 184 48 128' stroke='%23FFFFFF' stroke-width='32' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#demo-container,
#quiz-container[data-mode="display"] {
  .checkbox-group {
    .checkbox-input:not(.correct):not(.incorrect):hover + .checkbox-tile {
      box-shadow: unset;
    }
  }

  .checkbox-tile {
    cursor: unset
  }
}

#share-container .show-answers,
#quiz-container[data-mode="display"] {
  .checkbox-group {
    .checkbox-input {
      &.correct + .checkbox-tile:before {
        background-image: var(--background-checkbox);
      }
    }
  }
}

#share-container {
  .question-bottom-container {
    margin-top: unset;
  }
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  position: relative;
  min-width: unset;

  > label {
    width: 100%;
    height: 100%;
  }

  .checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:before {
      background-color: theme('colors.grey-primary');
      border-color: #ffffff;
    }

    &:hover {
      & + .checkbox-tile {
        box-shadow: 0 0 0 2px #ffffff;
      }
    }

    &:checked {
      + .checkbox-tile {
        box-shadow: 0 0 0 2px #ffffff80;

        &:before {
          background-image: var(--background-checkbox);
        }
      }
    }

    &.correct + .checkbox-tile {
      box-shadow: 0 0 0 2px theme('colors.green-primary');
    }

    &.incorrect + .checkbox-tile {
      box-shadow: 0 0 0 2px theme('colors.red-primary');
    }
  }

  .checkbox-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    border-radius: 8px;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      border: 2px solid #ffffff;
      background-color: theme('colors.grey-primary');
      border-radius: 50%;
      transition: 0.25s ease;
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      top: 1.6rem;
      left: 1.6rem;

      @media (min-width: 40rem) {
        top: 2.1rem;
        left: 2.1rem;
      }
    }

    .checkbox-label {
      margin-left: 2.8rem;
    }
  }
}

#share-container .screenbox:not(.show-answers) {
  .checkbox-group .checkbox-input.correct + .checkbox-tile {
    box-shadow: unset;
  }
}

.categories-container {
  .choice-option {
    background-color: theme('colors.very-dark-grey-primary');

    .color-layer {
      mask-size: cover;
      pointer-events: none;
      transition: .4s;
    }

    &.purple {
      border-color: rgba(220, 158, 244, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(184, 86, 252, 0.25), transparent)
      }
    }

    &.pink {
      border-color: rgba(250, 121, 222, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(255, 105, 252, 0.25), transparent)
      }
    }

    &.turquoise {
      border-color: rgba(85, 240, 240, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(67, 253, 237, 0.25), transparent)
      }
    }

    &.lightblue {
      border-color: rgba(85, 181, 240, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(67, 197, 253, 0.25), transparent)
      }
    }

    &.blue {
      border-color: #557af080;

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(125, 157, 255, 0.25), transparent)
      }
    }

    &.green {
      border-color: #94f05580;

      .color-layer {
        background: radial-gradient(circle closest-corner at top, #7aff4f40, transparent)
      }
    }

    &.white {
      border-color: rgba(166, 166, 166, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(159, 159, 159, 0.25), transparent)
      }
    }

    &.red {
      border-color: rgba(255, 90, 84, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, rgba(255, 102, 90, 0.25), transparent)
      }
    }

    &.orange {
      border-color: rgba(255, 150, 84, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, #ff963d40, transparent)
      }
    }

    &.yellow {
      border-color: rgba(220, 187, 57, 0.5);

      .color-layer {
        background: radial-gradient(circle closest-corner at top, #ffe33840, transparent);
      }
    }

    .checkbox-group {
      background-position: top;
      background-size: cover;
      height: 100%;

      .checkbox-tile {
        justify-content: flex-end;

        .checkbox-label {
          margin-left: unset;
          word-break: break-word;
        }

        &:before {
          top: 0;
          transform: translate(50%, -50%);
          right: 0;
          left: unset;
          opacity: 0;
        }
      }

      .checkbox-input:checked {
        + .checkbox-tile {
          box-shadow: 0 0 0 2px #808080;

          &:before {
            opacity: 1;
          }
        }

        ~ .color-layer {
          background: radial-gradient(circle closest-corner at top, rgba(255, 255, 255, 0.25), transparent);
        }
      }
    }
  }
}