:root {
  --border-radius-primary: 6px;
  --spacing-primary: 2rem;
}

@media (max-width: 640px) {
  :root {
    --spacing-primary: 1rem;
  }
}

html body {
  //line-height: 1;
  line-height: initial;
  font-family: 'Manrope', sans-serif;
}

button, input, optgroup, select, textarea {
  accent-color: theme('colors.green-primary');
}

div[style*="background: rgb(39, 40, 34);"] {
  background: #0f0f0f !important;
}

.code-wrapper > code {
  white-space: pre-wrap !important;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
  padding-left: var(--spacing-primary);
  padding-right: var(--spacing-primary);

  &.wrapper-large {
    max-width: 1200px;
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.10);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(50px);
  z-index: 1;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.box {
  padding: var(--spacing-primary);
}

.very-big-title {
  font-size: 3rem;
}

.big-title {
  font-size: 2.5rem;
}

.title {
  font-size: 2rem;
  //margin-bottom: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.small-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.button {
  line-height: 1;
  font-weight: 600;
  border-radius: var(--border-radius-primary);
  transition: .15s;

  &:disabled {
    opacity: .5;
  }
}


.button-action {
  padding: 8px;
  opacity: .5;

  &:hover {
    background-color: theme('colors.very-dark-grey-primary');
    opacity: 1;
  }
}

.button-primary {
  padding: 12px 24px;
  background-color: theme('colors.green-secondary');
  display: flex;
  align-items: center;
  gap: 16px;
  opacity: 1;

  &:hover:not(:disabled) {
    opacity: .8;
    transform: translateY(1px);
  }
}

.button-red {
  background-color: theme('colors.red-secondary');

}

.button-secondary {

}

.button-tertiary {
  &:hover {
    opacity: .8;
    transform: translateY(1px);
  }
}

.material-icons {
  &.md-14 {
    font-size: 14px;
  }

  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }
}

.material-icons.md-48 {
  font-size: 48px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    display: flex;
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 0.5rem;

    &.tag-small {
      font-size: 0.75rem;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: flex-end;

    > * {
      width: 100%;
    }
  }

  textarea {
    display: flex;
    width: 100%;
    padding: 16px;
    align-self: stretch;
    border-width: 2px;
    border-radius: var(--border-radius-primary);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: theme('colors.grey-secondary');
    min-height: 200px;
  }
}

.table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;

  thead {
    background-color: theme('colors.very-dark-grey-primary');
  }

  tbody tr:nth-child(even) {
    background-color: theme('colors.dark-grey-secondary');
  }

  th {
    text-align: center;
    font-weight: 700;
  }

  th, td {
    text-overflow: ellipsis;
    padding: 15px 30px;
  }
}