:root {
  --radius-primary: 10px;
  --radius-secondary: 6px;
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: "Spline Sans Mono", monospace;
  --spacing-primary: 1.5rem;
  --spacing-secondary: 0.8rem;
  --spacing-large-primary: 5rem;
  --spacing-large-secondary: 3rem;
  --spacing-very-large-primary: 10rem;
  --spacing-very-large-secondary: 8rem;
}

@media (min-width: 40rem) {
  :root {
    --spacing-primary: 2rem;
    --spacing-secondary: 1rem;
    --spacing-large-primary: 8rem;
    --spacing-large-secondary: 4rem;
    --spacing-very-large-primary: 14rem;
    --spacing-very-large-secondary: 10rem;
  }
}

* {
  scrollbar-color: theme('colors.light-grey-secondary') transparent;
}

html {
  scroll-behavior: smooth;

  body {
    line-height: initial;
    font-family: var(--font-primary);
    overflow-x: hidden;

    textarea, input {
      width: 100%;
      background-color: theme('colors.grey-secondary');
      border-width: 2px;
      border-radius: var(--radius-secondary);
      border-color: rgba(255, 255, 255, 0.1);
      border-style: solid;
      //padding: 16px;
      padding: var(--spacing-secondary);
      display: flex;

      &[type="checkbox"], &[type="radio"] {
        width: unset;
      }

    }

    textarea {
      min-height: 120px;
    }

    p {
      //opacity: .75;
    }
  }
}

.code-wrapper, code {
  font-family: var(--font-secondary) !important;
  font-size: .875rem !important;
}

.code-wrapper {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: var(--spacing-secondary) !important;
}

pre {
  &:only-child {
    .code-wrapper {
      //margin-top: unset !important;
      //margin-bottom: unset !important;
    }
  }

  &:first-child {
    .code-wrapper {
      //margin-top: unset !important;
      margin-top: unset !important;
    }
  }

  &:last-child {
    .code-wrapper {
      //margin-top: unset !important;
      margin-bottom: unset !important;
    }
  }
}

#quiz-container {
  //min-height: 50svh;
}

.comment-container {
  .code-wrapper {
    //margin-top: unset !important;
    //margin-bottom: unset !important;
  }
}

.scores .switch li .switch-label.active {
  background-color: theme('colors.dark-grey-secondary');
}

.score-container {

  display: none;

  &.active {
    display: grid;
  }

  .score-item {
    //display: grid;

    &:before {
      content: "";
      background-size: contain;
      background-position: top left;
      //height: 30px;
      //aspect-ratio: 152/223;
      aspect-ratio: 1/1;
      object-fit: contain;
      background-repeat: no-repeat;
      right: var(--spacing-primary);
      //top: var(--spacing-primary);
      top: 0;
      transform: translateY(-50%);
      position: absolute;

      width: 30px;

      @media (min-width: 40rem) {

        width: 40px;
      }

    }


    &:nth-child(1) {
      &:before {
        background-image: url('/public/images/pictos/medal-gold.png');
      }
    }

    &:nth-child(2) {
      &:before {
        background-image: url('/public/images/pictos/medal-silver.png');
      }
    }

    &:nth-child(3) {
      &:before {
        background-image: url('/public/images/pictos/medal-bronze.png');
      }
    }
  }
}

header {
  z-index: 2;
  transition: transform .4s, margin .4s;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    opacity: 0;
  }

  .header-container {
    padding-top: var(--spacing-primary);
    padding-bottom: var(--spacing-primary);
    position: relative;

    .header-bottom-container {
      height: 0;
      //overflow: hidden;
      //transition: height .4s;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      max-width: 100%;
      width: 20rem;
      //opacity: 0;
      //transition: .4s;
      //pointer-events: none;

      ul {
        transform: translateY(-5px);
        opacity: 0;
        pointer-events: none;
        transition: .4s;

        .material-icons {
          margin-right: 1rem;
        }
      }

      &.visible {
        //overflow: visible;
        ul {
          opacity: 1;
          transform: translateY(0);
          pointer-events: unset;
        }
      }

    }
  }
}

button, input, optgroup, select, textarea {
  accent-color: theme('colors.green-primary');
}

[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
  //color: #878787;
}

[type="file"]::-webkit-file-upload-button {
  padding: 0.6rem 1rem;
  background-color: theme('colors.green-secondary');
  border: 2px solid theme('colors.green-secondary');
  gap: 16px;
  opacity: 1;
  font-weight: 600;
  border-radius: var(--radius-secondary);
  //transition: .15s;
  //display: flex;
  //align-items: center;
  color: #ffffff;
  margin-right: 1rem;

  //background: #ED1C1B;
  //border: 2px solid #ED1C1B;
  //border-radius: 4px;
  //color: #fff;
  cursor: pointer;
  //font-size: 12px;
  outline: none;
  //padding: 10px 25px;
  //text-transform: uppercase;
  //transition: all 1s ease;
}

//[type="file"]::-webkit-file-upload-button:hover {
//  background: #fff;
//  border: 2px solid #535353;
//  color: #000;
//}


div[style*="background: rgb(39, 40, 34);"] {
  background: theme('colors.very-dark-grey-primary') !important;
}

.code-wrapper > code {
  //white-space: pre-wrap !important;
  overflow-wrap: anywhere !important;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
  padding-left: var(--spacing-primary);
  padding-right: var(--spacing-primary);

  &.wrapper-small {
    max-width: 800px;
  }

  &.wrapper-large {
    max-width: 1200px;
  }

  //+ footer {
  //background-color: blue !important;
  //}
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-primary);
  backdrop-filter: blur(50px);
  z-index: 1;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.dark-glass {
  background-color: rgb(0 0 0 / 75%);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 40px inset rgba(8, 7, 16, 0.6);
}

.box {
  padding: var(--spacing-primary);
}

.very-big-title {
  display: block;
  font-size: 3rem;
  font-weight: 600;
}

.big-title {
  display: block;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 600;
}

.title {
  display: block;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  //text-transform: uppercase;
  //letter-spacing: .1em;
  //font-weight: bold;
}

.small-title {
  //display: block;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: .6rem;
  font-weight: 600;

  .material-icons {
    margin-right: 0.5rem;
  }

  + p {
    opacity: .75;
    //color: theme('colors.very-light-grey-secondary');
    //color: ;
  }

}

.button {
  font-weight: 600;
  border-radius: var(--radius-secondary);
  transition: .15s;
  display: flex;
  align-items: center;

  &:disabled {
    opacity: .5;
  }

  &.button-small {
    font-size: 0.875rem;
    //padding: .5rem 1rem;
    padding: .5rem 1rem;


    @media (max-width: 40rem) {
      padding: .5rem;
      //font-size: 18px;
    }
  }
}

.button-action {
  //padding: 8px;
  //padding: 8px;
  padding: .5rem;
  opacity: .75;
  //border-style: solid;
  //border-width: 2px;
  //border-color: transparent;

  &:hover {
    background-color: theme('colors.dark-grey-secondary');
    //border-color: theme('colors.dark-grey-secondary');
    opacity: 1;
  }
}

.button-primary {
  padding: 0.6rem 1rem;
  background-color: theme('colors.green-secondary');
  border: 2px solid theme('colors.green-secondary');
  gap: 16px;
  opacity: 1;

  &:hover:not(:disabled) {
    opacity: .75;
  }
}

.button-red {
  background-color: theme('colors.red-secondary');
  border-color: theme('colors.red-secondary');
}

.button-dark-grey {
  background-color: theme('colors.dark-grey-secondary');
  border-color: theme('colors.dark-grey-secondary');
}

.button-secondary {
  border: 2px solid theme('colors.green-secondary');
  padding: 0.6rem 1rem;
  opacity: 1;


  &:hover:not(:disabled) {
    opacity: .75;
  }
}

.button-tertiary {
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}

.material-icons {
  //.margin-right {
  //  margin-right: .5em;
  //}

  &.md-14 {
    font-size: 14px;
  }

}

.material-icons.md-48 {
  font-size: 48px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding-top: 50px;
  //padding-bottom: 100px;
  padding-top: 3rem;
  padding-bottom: 6rem;
  gap: 4rem;
}

.footer-bottom-container {
  ul {
    li {
      display: flex;
      gap: var(--spacing-secondary);

      .material-icons {
        display: none;
      }

      //&::after {
      //&:not(:last-child):after {
      //  content: "•";
      //  opacity: .5;
      //}
    }
  }
}

#demo-container {
  mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
  max-height: 500px;

  .glass {
    box-shadow: unset;
    //background-color: rgba(23, 23, 23, 0.90);
    //background-color: #0f0f0f80;
    //background-color: theme('colors.bg-dark-grey-secondary');

    background-color: rgb(0 0 0 / 75%);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 40px inset rgba(8, 7, 16, 0.6);


    //border-color: transparent;
    //background-color: transparent;
    //position: relative;
    //z-index: 1;
    //
    &::after {
      //position: absolute;
      //content: "";
      //left: 0;
      //top: 0;
      //width: 100%;
      //height: 100%;
      //filter: blur(50px);
      //z-index: -1;
      //background: rgba(255, 255, 255, 0.10);
      //background-color: rgba(255, 255, 255, 0.1);
    }
  }

  //display: block;
  //width: 100%;
  //display: block;

  //.swiper-container-parent {
  //  width: 100%;
  //  display: block; /* Pour s'assurer qu'aucun flex ne perturbe */
  //}

  //.swiper {
  //  width: 100%;
  //  height: 300px; /* ou la hauteur souhaitée */
  //}
  //
  //.swiper-slide {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}
}

.wrapper {
  > .page-separator-container {
    //padding-top: 50px;
    //padding-bottom: 50px;
    margin-top: var(--spacing-primary);
    margin-bottom: var(--spacing-primary);
  }

  &[class*=-spacing-] + footer {
    padding-top: unset;
  }
}

.page-separator-container {
  //padding-top: 50px;
  //padding-bottom: 50px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    display: flex;
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 0.5rem;

    &.tag-small {
      font-size: 0.75rem;
    }
  }
}


//.faq-container {
//  //background-color: blue;
//  display: grid;
//  grid-template-rows: 0fr;
//  overflow: hidden;
//}

//.accordion-item {
//  .accordion-content {
//    display: grid;
//    grid-template-rows: 0fr;
//    overflow: hidden;
//    transition: .4s;
//  }
//}

//.expander {
//  display: grid;
//  grid-template-rows: 0fr;
//  overflow: hidden;
//  transition: grid-template-rows .4s;
//
//  .expander-content {
//    min-height: 0;
//    transition: visibility 1s;
//    visibility: hidden;
//  }
//
//  &.expanded {
//    grid-template-rows: 1fr;
//    padding: var(--spacing-secondary);
//    margin-top: var(--spacing-secondary);
//    border-radius: var(--radius-secondary);
//
//    .expander-content {
//      visibility: visible;
//    }
//  }
//}


.accordion-item {

  .accordion-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    padding-right: 2rem;

    &:after, &:before {
      content: '';
      height: 2px;
      width: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: theme('colors.white-primary');
      position: absolute;
      transition: .4s;
    }

    &:before {
      transform: translateY(-50%) rotate(90deg);
    }

    &.open {
      //max-height: auto;
      &:before, &:after {
        //transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(360deg);
      }
    }
  }

  .accordion-expander {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    //background-color: theme('colors.very-dark-grey');

    .accordion-content {
      background-color: theme('colors.very-dark-grey-primary');
      margin-top: var(--spacing-secondary);
      padding: var(--spacing-secondary);
      border-radius: var(--radius-secondary);
    }

  }
}


//.accordion-item .accordion-button::after {
//  content: '+';
//  position: absolute;
//  right: 1rem;
//  transition: transform 0.3s ease;
//}
//
//.accordion-item .accordion-button.active::after {
//  transform: rotate(45deg);
//}


.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  //align-items: stretch;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-primary);

  + .form-container {
    margin-top: var(--spacing-primary);
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-primary);
    align-items: flex-end;

    > * {
      width: 100%;
    }

    textarea {
      min-height: 150px;
    }
  }
}

.table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  text-align: center;

  .buttons-container {
    flex-wrap: unset;
    justify-content: center;

  }

  thead {
    background-color: theme('colors.very-dark-grey-primary');
  }

  tbody tr:nth-child(even) {
    //background-color: theme('colors.dark-grey-secondary');
    background-color: #0f0f0f80;
  }

  th {
    text-align: center;
    font-weight: 700;
  }

  th, td {
    text-overflow: ellipsis;
    //padding: 15px 30px;
    padding: 0.6rem 1rem;
  }

  input {
    //width: unset;
  }

  .buttons-container {
    //justify-content: center;
  }
}

.muted {
  font-size: .875rem;
  color: theme('colors.very-light-grey-primary');
  font-weight: normal;
}

.low-light {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -1;

  &.left {
    background-image: radial-gradient(ellipse farthest-side at 20%, #ffffff0d 0%, transparent 100%);
  }

  &.right {
    background-image: radial-gradient(ellipse farthest-side at 80%, #ffffff0d 0%, transparent 100%);
  }
}