:root {
  --radius-primary: 10px;
  --radius-secondary: 6px;
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: "Spline Sans Mono", monospace;
  --spacing-primary: 1.5rem;
  --spacing-secondary: 0.8rem;
  --spacing-large-primary: 5rem;
  --spacing-large-secondary: 3rem;
  --spacing-very-large-primary: 10rem;
  --spacing-very-large-secondary: 8rem;
}

@media (min-width: 40rem) {
  :root {
    --spacing-primary: 2rem;
    --spacing-secondary: 1rem;
    --spacing-large-primary: 8rem;
    --spacing-large-secondary: 4rem;
    --spacing-very-large-primary: 14rem;
    --spacing-very-large-secondary: 10rem;
  }
}

* {
  scrollbar-color: theme('colors.light-grey-secondary') transparent;
}

html {
  scroll-behavior: smooth;

  body {
    line-height: initial;
    font-family: var(--font-primary);

    textarea, input {
      width: 100%;
      background-color: theme('colors.grey-secondary');
      border-width: 2px;
      border-radius: var(--radius-secondary);
      border-color: rgba(255, 255, 255, 0.1);
      border-style: solid;
      padding: var(--spacing-secondary);
      display: flex;
      caret-color: theme('colors.green-primary');

      &[type="checkbox"], &[type="radio"] {
        width: unset;
      }
    }

    textarea {
      min-height: 120px;
    }

    hr {
      border: unset;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      height: 2px;
    }
  }
}

li::marker {
  color: #ffffff80;
}

.code-wrapper, code {
  font-family: var(--font-secondary) !important;
  font-size: .875rem !important;
}

.code-wrapper {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: var(--spacing-secondary) !important;
}

pre {
  &:first-child {
    .code-wrapper {
      margin-top: unset !important;
    }
  }

  &:last-child {
    .code-wrapper {
      margin-bottom: unset !important;
    }
  }
}

.flow-rounded-regular {
  font-family: "Flow Rounded", system-ui;
  font-weight: 400;
  font-style: normal;
}

.website-title {
  text-shadow: 0px 10px 20px rgb(15 15 15 / 25%);
}

.scores .switch li .switch-label.active {
  background-color: theme('colors.dark-grey-secondary');
}

.score-container {
  display: none;

  &.active {
    display: grid;
  }

  .score-item {
    &:before {
      content: "";
      background-size: contain;
      background-position: top left;
      aspect-ratio: 1/1;
      object-fit: contain;
      background-repeat: no-repeat;
      right: var(--spacing-primary);
      top: 0;
      transform: translateY(-50%);
      position: absolute;
      width: 30px;

      @media (min-width: 40rem) {

        width: 40px;
      }
    }


    &:nth-child(1) {
      &:before {
        background-image: url('/public/images/pictos/medal-gold.png');
      }
    }

    &:nth-child(2) {
      &:before {
        background-image: url('/public/images/pictos/medal-silver.png');
      }
    }

    &:nth-child(3) {
      &:before {
        background-image: url('/public/images/pictos/medal-bronze.png');
      }
    }
  }
}

header {
  transition: transform .4s, margin .4s;

  .header-container {
    padding-top: var(--spacing-primary);
    padding-bottom: var(--spacing-primary);
    position: relative;

    .header-bottom-container {
      height: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      max-width: 100%;
      width: 20rem;

      @media (max-width: 30rem) {
        width: 100%;
      }

      ul {
        transform: translateY(-5px);
        opacity: 0;
        pointer-events: none;
        transition: .4s;

        .material-icons {
          margin-right: 1rem;
        }
      }

      &.visible {
        ul {
          opacity: 1;
          transform: translateY(0);
          pointer-events: unset;
        }
      }
    }
  }
}

button, input, optgroup, select, textarea {
  accent-color: theme('colors.green-primary');
}

[type="file"]::-webkit-file-upload-button {
  padding: 0.6rem 1rem;
  background-color: theme('colors.green-secondary');
  border: 2px solid theme('colors.green-secondary');
  gap: 16px;
  opacity: 1;
  font-weight: 600;
  border-radius: var(--radius-secondary);
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
  outline: none;
}

body .fade-in-up {
  //transform: translateY(20px);
  transform: translateY(var(--spacing-secondary));
  filter: blur(5px);
  opacity: 0;
  //transition: opacity 1.2s, transform 1.2s, filter 1.2s;
  transition: opacity 1s, transform 1s, filter 1s;
  //will-change: transform, opacity;
}

body .fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
  filter: unset;
}

div[style*="background: rgb(39, 40, 34);"] {
  background: theme('colors.very-dark-grey-primary') !important;
}

.code-wrapper {
  > code {
    overflow-wrap: anywhere !important;
  }
}

#quiz-container,
#demo-container,
#share-container {
  // https://quizstack.io/question/326
  &.wrap .code-wrapper > code,
  pre > code {
    white-space: break-spaces !important;
  }


  //https://quizstack.io/question/410
  p > code,
  p {
    word-wrap: break-word;
  }
}

#share-container {
  // https://quizstack.io/question/326
  .code-wrapper > code {
    //pre > code {
    white-space: break-spaces !important;
  }

  .glass {
    backdrop-filter: unset;
  }

  //https://quizstack.io/question/410
  .zoom {
    zoom: 100%;
    perspective: 1000px;
  }

  .screenbox {
    &::after, &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      background-color: theme('colors.very-dark-grey-primary');
      z-index: -10;

    }

    .demo {
      pointer-events: none;
      position: absolute;
      width: 600px;
      top: 100px;
      left: 40%;
      transform: rotateY(-30deg) rotateX(20deg) skew(0deg, 0deg);
    }

    .screenbox-noise-texture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      //-o-object-fit: cover;
      object-fit: cover;
      opacity: 0.05;
      pointer-events: none;
      //transition: none 0s ease 0s;
      //transition: initial;
      //background-image: url(/build/images/noise.db8b66b8.png);
      background-image: url('/public/images/background/noise.png');
      //
      background-repeat: repeat;
      background-size: 150px;
    }
  }
}

#stacks-slider-container {
  position: relative;

  .swiper {

    &::before, &::after {
      content: "";
      position: absolute;
      width: 25vw;
      height: 100%;
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      left: 0;
      top: 0;
      background: linear-gradient(to left, transparent, theme('colors.very-dark-grey-primary'));
    }

    &::after {
      right: 0;
      top: 0;
      background: linear-gradient(to right, transparent, theme('colors.very-dark-grey-primary'));
    }

    .swiper-wrapper {
      transition-timing-function: linear;

      .swiper-slide {
        width: auto;

        img {
          //margin-left: auto;
          //margin-right: auto;
          filter: saturate(0);
          object-fit: contain;
          //height: 50px;
          height: 50px;
          //width: 50px;
          //flex-shrink: 0;

          @media (max-width: 40rem) {
            height: 35px;
          }
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
  padding-left: var(--spacing-primary);
  padding-right: var(--spacing-primary);

  &.wrapper-small {
    max-width: 800px;
  }

  &.wrapper-large {
    max-width: 1200px;
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-primary);
  backdrop-filter: blur(50px);
  z-index: 1;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.dark-glass {
  background-color: rgb(0 0 0 / 75%);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 40px inset rgba(8, 7, 16, 0.6);
}

.box {
  padding: var(--spacing-primary);
}

.card {
  //position: relative;
  //position: relative;
  //border: 2px solid transparent;
  //background: linear-gradient(71deg, #080509, #1a171c, #080509);
  //background-clip: padding-box;
  //border-radius: 45px;
  //padding: 40px;
  position: relative;
  /* border: 2px solid transparent; */
  //background: #0000009e;
  //background: linear-gradient(theme('colors.very-dark-grey-primary'), theme('colors.very-dark-grey-primary'), #0f0f0fd4);
  background: linear-gradient(theme('colors.very-dark-grey-primary') 50%, #0f0f0fd9);
  background-clip: padding-box;
  z-index: unset;
  backdrop-filter: unset;
  //border-radius: 45px;
  //padding: 40px;
  //margin-bottom: -10px;
  margin-bottom: 2px;
  border-bottom-width: 0;
  border-color: theme('colors.grey-primary');

  .material-icons {
    //background-color: theme('colors.very-dark-grey-primary');
    background-color: theme('colors.dark-grey-secondary');
  }

  &::after {
    //background: linear-gradient(100deg, #110e0e, #afa220, #110e0e);
    //background: linear-gradient(100deg, #ff9654, #fa79de, #c73fff);
    background: linear-gradient(100deg, #9a9a9a, #d5d5d5, #ffffff);
    position: absolute;
    //top: 10px;
    top: 2px;
    //bottom: -1px;
    left: -1px;
    //right: -1px;
    content: "";
    z-index: -1;
    border-radius: inherit;
    width: calc(100% + 2px);
    height: 100%;
    //border-radius: 45px;
    //content: "";
    //top: 10px;
    //left: 0;
    //position: absolute;
    //z-index: -1;
  }

  &.card-pink {
    .material-icons {
      color: theme('colors.pink-secondary');
    }

    &::after {
      //background: linear-gradient(100deg, #e79b5b, #dc6790, #cd32c7);
      background: linear-gradient(100deg, #ff9654, #ff61d6, #c12eff);
    }
  }

  &.card-green {
    .material-icons {
      color: theme('colors.green-tertiary');
    }

    &::after {
      //background: linear-gradient(100deg, #f0eb52, #a0e27d, #45e09d);
      background: linear-gradient(100deg, #ffe163, #acff71, #55f0f0);
    }
  }

  &.card-blue {
    .material-icons {
      color: theme('colors.blue-secondary');
    }

    &::after {
      //background: linear-gradient(100deg, #374699, #3678bd, #28b0d7);
      background: linear-gradient(100deg, #2a428c, #4382c7, #55b5f0);
    }
  }
}

.question-bottom-container,
.question-content-container {
  ol, ul {
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: unset;
  }

  li + li {
    margin-top: var(--spacing-secondary);
  }
}

.very-big-title {
  display: block;
  font-size: 3rem;
  font-weight: 600;
}

.big-title {
  display: block;
  //font-family: var(--font-secondary);
  font-size: 2.5rem;
  //font-weight: 600;
  font-weight: bold;
}

.title {
  display: block;
  //font-family: var(--font-secondary);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.small-title {
  display: flex;
  //align-items: center;
  font-size: 1.2rem;
  margin-bottom: .6rem;
  font-weight: 600;
  align-items: flex-start;

  .material-icons {
    margin-right: 0.5rem;
  }

  ~ * {
    //opacity: .75;
  }
}

.gradient-title {
  background: linear-gradient(to bottom right, theme('colors.white-primary'), #f6ffc1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-weight: 600;
  border-radius: var(--radius-secondary);
  transition: .15s;
  display: flex;
  align-items: center;

  &:disabled {
    opacity: .5;
  }

  &.button-small {
    font-size: 0.875rem;
    padding: .5rem 1rem;

    @media (max-width: 40rem) {
      padding: .5rem;
    }
  }
}

.button-action {
  padding: .5rem;
  opacity: .75;

  &:hover {
    background-color: theme('colors.dark-grey-secondary');
    opacity: 1;
  }
}

.button-primary {
  padding: 0.6rem 1rem;
  background-color: theme('colors.green-secondary');
  //background: linear-gradient(to bottom, theme('colors.green-secondary'), theme('colors.green-quaternary'));
  border: 2px solid theme('colors.green-secondary');
  gap: 16px;
  opacity: 1;

  &:hover:not(:disabled) {
    opacity: .75;
  }
}

.button-red {
  background-color: theme('colors.red-secondary');
  border-color: theme('colors.red-secondary');
}

.button-dark-grey {
  background-color: theme('colors.dark-grey-secondary');
  border-color: theme('colors.dark-grey-secondary');
}

.button-secondary {
  border: 2px solid theme('colors.green-secondary');
  padding: 0.6rem 1rem;
  opacity: 1;


  &:hover:not(:disabled) {
    opacity: .75;
  }
}

.button-tertiary {
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}

.material-icons {
  &.md-14 {
    font-size: 14px;
  }
}

.material-icons.md-48 {
  font-size: 48px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 6rem;
  gap: 4rem;
}

.footer-bottom-container, .footer-top-container, .footer-middle-container {
  ul {
    li {
      //display: flex;
      //gap: var(--spacing-secondary);

      .material-icons {
        display: none;
      }


    }
  }
}

#demo-container {
  .glass {
    //box-shadow: 0 0 30px rgba(8, 7, 16, 0.6);
    box-shadow: 0 0 var(--spacing-primary) rgba(8, 7, 16, 0.6);
  }

  .choice-option {
    &:nth-last-child(2) {
      opacity: calc((1 / 3) * 2) !important;
    }

    &:nth-last-child(1) {
      opacity: calc(1 / 3) !important;
    }
  }
}

.wrapper {
  > .page-separator-container {
    margin-top: var(--spacing-primary);
    margin-bottom: var(--spacing-primary);
  }

  &[class*=-spacing-] + footer {
    padding-top: unset;
  }
}

.page-separator-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    display: flex;
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 0.5rem;

    &.tag-small {
      font-size: 0.75rem;
    }
  }
}

.accordion-item {
  button {
    padding-top: var(--spacing-primary);
    padding-bottom: var(--spacing-primary);
  }

  .accordion-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    padding-right: 2rem;

    &:after, &:before {
      content: '';
      height: 2px;
      width: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: theme('colors.white-primary');
      position: absolute;
      transition: .4s;
    }

    &:before {
      transform: translateY(-50%) rotate(90deg);
    }

    &.open {
      &:before, &:after {
        transform: translateY(-50%) rotate(360deg);
      }
    }
  }

  .accordion-expander {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;

    .accordion-content {
      background-color: theme('colors.very-dark-grey-primary');
      margin-bottom: var(--spacing-primary);
      padding: var(--spacing-secondary);
      border-radius: var(--radius-secondary);
    }
  }
}

.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-primary);

  + .form-container {
    margin-top: var(--spacing-primary);
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-primary);
    align-items: flex-end;

    > * {
      width: 100%;
    }

    textarea {
      min-height: 150px;
    }
  }
}

.code-editor {
  font-family: var(--font-secondary) !important;
  font-size: 0.875rem !important;
}

.table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  text-align: center;

  .buttons-container {
    flex-wrap: unset;
    justify-content: center;
  }

  thead {
    background-color: theme('colors.very-dark-grey-primary');
  }

  tbody tr:nth-child(even) {
    background-color: #0f0f0f80;
  }

  th {
    text-align: center;
    font-weight: 700;
  }

  th, td {
    text-overflow: ellipsis;
    padding: 0.6rem 1rem;
  }
}


.links-container a, .muted {
  font-size: .875rem;
  //color: theme('colors.very-light-grey-primary');
  opacity: .5;
  font-weight: normal;
  //font-weight: normal;
  //font-weight: 600;
}

.low-light {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -1;

  &.left {
    background-image: radial-gradient(ellipse farthest-side at 20%, #ffffff0d 0%, transparent 100%);
  }

  &.right {
    background-image: radial-gradient(ellipse farthest-side at 80%, #ffffff0d 0%, transparent 100%);
  }

  &.center {
    background-image: radial-gradient(ellipse farthest-side at 80%, #ffffff0d 0%, transparent 100%);
  }

  &.separator {
    background: linear-gradient(to top, theme('colors.black-primary'), transparent 100%);
    //height: 1200px;
    transform: translateY(-100%);
    opacity: .5;
  }
}
