.switch {
  padding: .5rem;
  display: flex;
  align-items: center;

  li {
    display: flex;

    .switch-input {
      display: none;
    }

    .switch-input:checked + .switch-label,
    .switch-label.active {
      background-color: theme('colors.very-dark-grey-primary');
    }

    .switch-label {
      cursor: pointer;
      padding: 0.6rem 1rem;
      border-radius: var(--radius-secondary);
      transition: .2s ease;
    }
  }
}
