.testimonial {
  background-color: theme('colors.dark-grey-secondary');
  break-inside: avoid;
  page-break-inside: avoid;
  border-radius: var(--radius-secondary);
  margin-bottom: var(--spacing-primary);
}