@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: tan;
  //background-color: silver;
}

input, textarea {
  background-color: inherit;
  border: 1px solid white;
}

div[style*="background: rgb(39, 40, 34);"] {
  background: #171717 !important;
}