{% extends 'layout.html.twig' %}

{% set title = 'Cookie Policy' %}

{% block meta_description %}Learn about how Quizstack uses cookies to enhance your experience with our web development quiz platform{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Cookie Policy</h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="legals-container">
            <h2><span>1.</span>What Are Cookies </h2>
            <p>Cookies are small text files stored on your device when you visit our website. </p>
            <h2><span>2.</span>How We Use Cookies </h2>
            <p>Essential Cookies : Required for the operation of our website</p>
            <p>Preference Cookies : Remember your preferences and settings</p>
            <p>Analytics Cookies : Help us understand how visitors interact with our website</p>
            <p>Authentication Cookies : Recognize you when you return to our site</p>
            <h2><span>3.</span>Managing Cookies </h2>
            <p>Most web browsers allow you to control cookies through their settings. You may delete or block cookies,
                but this may impact your experience on our site.</p>
            <h2><span>4.</span> Changes to Cookie Policy</h2>
            <p>We may update this policy as our use of cookies changes. </p>
            <h2>Contact Information </h2>
            <p>If you have any questions about these legal documents, please contact us using <a
                        href="{{ path('app_contact') }}">this form</a>.</p>
            </p>
        </div>
    </div>

{% endblock %}

