{% extends 'layout.html.twig' %}

{% set title = 'Cookie Policy' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}
    {#    {{ include('partials/banner-spotlight.html.twig', {'color': 'green'}) }}#}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Cookie Policy</h1>
        </div>
    </div>

    <div class="wrapper">

        1. What Are Cookies
        Cookies are small text files stored on your device when you visit our website.
        2. How We Use Cookies

        Essential Cookies: Required for the operation of our website
        Preference Cookies: Remember your preferences and settings
        Analytics Cookies: Help us understand how visitors interact with our website
        Authentication Cookies: Recognize you when you return to our site

        3. Managing Cookies
        Most web browsers allow you to control cookies through their settings. You may delete or block cookies, but this may impact your experience on our site.
        4. Changes to Cookie Policy
        We may update this policy as our use of cookies changes.
        Contact Information
        If you have any questions about these legal documents, please contact us at:
        Email: legal@quizstack.com
        Quizstack
        [Your Business Address]
        [City, State/Province, ZIP/Postal Code]
        [Country]
        Last Updated: April 23, 2025

        {#        <div> #}
        {#            <p class="font-bold text-6xl text-center">Filters</p> #}
        {#        </div> #}

        {#        <div class="page-header-container"> #}
        {#            <h1 class="big-title grow">Filters</h1> #}
        {#        </div> #}

{#        {{ include('partials/filters.html.twig', _context) }}#}

    </div>

{#    {{ include('partials/promotional/promotional-1.html.twig', _context) }}#}


{% endblock %}

