{% extends 'layout.html.twig' %}

{% set title = 'Cookie Policy' %}

{% block meta_description %}Learn about how Quizstack uses cookies to enhance your experience with our web development quiz platform{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Cookie Policy</h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="legals-container">
            <h2><span>1.</span> What are Cookies</h2>
            <p>Cookies are small text files stored on your device when you visit our website. They help us remember your
                actions and preferences over time. We also use similar technologies such as localStorage,
                sessionStorage, and pixels—collectively referred to as “cookies”—to deliver core functionality, improve
                performance, and measure how people use Quizstack.</p>
            <h2><span>2.</span> How we use Cookies</h2>
            <p>Essential Cookies : Required to operate the site, enable security, load pages, and keep
                you signed in.</p>
            <p>Preference Cookies : Remember settings like language, theme, and saved filters so your
                experience is consistent.</p>
            <p>Analytics Cookies : With your consent, help us understand usage (e.g., most‑viewed
                topics) so we can improve features.</p>
            <p>Authentication Cookies : Recognize you when you return, maintain sessions, and protect
                your account from abuse.</p>
            <h2><span>3.</span> Managing Cookies</h2>
            <p>You can control cookies in your browser settings (allow, block, or delete). Disabling non‑essential
                cookies won’t break core features, but some preferences and analytics‑based improvements may not work.
                You can also update consent at any time via our cookie banner.</p>
            <h2><span>4.</span> Changes to this Cookie policy</h2>
            <p>We may update this policy when our cookie practices change. We will post the revised date and, if changes
                are material, provide a prominent notice.</p>
            <h2><span>5.</span> Contact information</h2>
            <p>If you have questions about this Cookie Policy, please contact us using
                <a href="{{ path('app_contact') }}">this form</a>.
            </p>
        </div>
    </div>

{% endblock %}

