{% extends 'layout.html.twig' %}

{% set title = 'Activity' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'purple'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Activity</h1>
        </div>
    </div>

    <div class="wrapper">
        <div id="activity-container" data-mode="{{ mode }}"></div>
    </div>

{% endblock %}

