{% extends 'base.html.twig' %}

{% block title %}Profile {{ parent() }}{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
{#        <div>#}
{#            <p class="font-bold text-6xl text-center">Filters</p>#}
{#        </div>#}

{#        <div class="page-header-container">#}
{#            <h1 class="big-title grow">Filters</h1>#}
{#        </div>#}

        {{ include('partials/filters.html.twig', _context) }}

    </div>

{% endblock %}

