{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div>
            <p class="font-bold text-6xl text-center">Filters</p>
        </div>

        {{ include('partials/filters.html.twig', _context) }}

    </div>

{% endblock %}

