{% extends 'layout.html.twig' %}

{% set title = 'Filters' %}

{% block meta_description %}Find the perfect coding quiz by filtering our 1,000+ web development questions by topic or difficulty level{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div id="filters-section" class="page-header-container">
            <h1 class="big-title grow">Filters</h1>
        </div>

        {{ include('partials/filters.html.twig', _context) }}

    </div>

    {{ include('partials/promotional/promotional-1.html.twig', _context) }}

{% endblock %}

