{% extends 'layout.html.twig' %}

{% set title = 'Profile' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}
    {#    {{ include('partials/banner-spotlight.html.twig', {'color': 'green'}) }} #}

    <div class="wrapper">
        {#        <div> #}
        {#            <p class="font-bold text-6xl text-center">Filters</p> #}
        {#        </div> #}

        {#        <div class="page-header-container"> #}
        {#            <h1 class="big-title grow">Filters</h1> #}
        {#        </div> #}

        {{ include('partials/filters.html.twig', _context) }}

    </div>

    <div class="wrapper wrapper-large pt-spacing-very-large-primary pb-spacing-large-secondary">
        {{ include('partials/promotional/promotional-1.html.twig', _context) }}
    </div>


{% endblock %}

