{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block body %}

    {#    {{ include('partials/banner.html.twig') }} #}


    {{ include('partials/banner.html.twig', {'color': 'green'}) }}

{#    <div class="wrapper">#}
{#        <div class="page-header-container">#}
{#            <h1 class="big-title grow">Home</h1>#}
{#        </div>#}
{#    </div>#}

    <div class="wrapper">
        {#        <div> #}
        {#            <p class="font-bold text-6xl text-center">Home</p> #}
        {#        </div> #}


        {{ include('partials/filters.html.twig', _context) }}
    </div>

{% endblock %}

