{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}




    <div>
        <p class="font-bold text-6xl text-center">Home</p>

        {#            <div class="particles" aria-hidden="true"></div> #}

        {#        <main> #}
        {#            <button aria-label="Say Hello"> #}
        {#                <div> #}
        {#              <span class="inner"> #}
        {#                <div class="particles" aria-hidden="true"></div> #}
        {#                <span class="text">Say hello</span> #}
        {#                <span class="halo" aria-hidden="true"></span> #}
        {#              </span> #}
        {#                </div> #}
        {#                #}{#                <span class="shadow" aria-hidden="true"></span> #}
        {#            </button> #}
        {#        </main> #}


    </div>

    {{ include('partials/filters.html.twig', _context) }}


{% endblock %}

