{% extends 'base.html.twig' %}

{% block title %}Limit{% endblock %}

{% block body %}

    {#    <div class="example-wrapper">#}
    <div>
        <p class="font-bold text-6xl text-center">Sorry !</p>

        <p>Limit reached !</p>
{#        {{ include('partials/filters.html.twig', _context) }}#}

    </div>
    {#    </div>#}
{% endblock %}

