{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {#    <div class="example-wrapper">#}
    <div>
        <p class="font-bold text-6xl text-center">Login</p>
    </div>

{% endblock %}
