{% extends 'base.html.twig' %}

{% block title %}Question {{ parent() }}{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div id="quiz-container" data-mode="{{ mode }}"></div>
    </div>

{% endblock %}