{% extends 'layout.html.twig' %}

{% set title = 'Quiz' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div id="quiz-container" data-mode="{{ mode }}"></div>
    </div>

{% endblock %}