{% extends 'layout.html.twig' %}

{% set title = 'Hall of Fame' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'gold'}) }}

    <div class="wrapper wrapper-large">
        <div class="page-header-container">
            <h1 class="big-title grow">Hall of fame</h1>
        </div>
    </div>

    <div class="wrapper wrapper-large">
        <div class="buttons-container mb-spacing-primary justify-end">
            <div class="radio-input-container scores">
                <ul class="switch glass box">
                    <li>
                        <button class="switch-label active">Weekly</button>
                    </li>
                    <li>
                        <button class="switch-label">Monthly</button>
                    </li>
                    <li>
                        <button class="switch-label">All time</button>
                    </li>
                </ul>
            </div>
        </div>

        <ul data-period="all-time"
            class="score-container w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-spacing-primary">
            {% for score in allTimeScores %}
                {% set period = 'all-time' %}
                {{ include('partials/scores-grid.html.twig', {'period': period}) }}
            {% endfor %}
        </ul>

        <ul data-period="month"
            class="score-container w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-spacing-primary">
            {% for score in monthlyScores %}
                {% set period = 'month' %}
                {{ include('partials/scores-grid.html.twig', {'period': period}) }}
            {% endfor %}
        </ul>

        <ul data-period="week"
            class="score-container w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-spacing-primary">
            {% for score in weeklyScores %}
                {% set period = 'week' %}
                {{ include('partials/scores-grid.html.twig', {'period': period}) }}
            {% endfor %}
        </ul>
    </div>

{% endblock %}