1.
```
question: |
Can you write a question about web development ? Here's a code block example :
```js
console.log(0.1 + 0.2 === 0.3);
```
explanation: |
Explain why the answer is great. You can include some `code` or code block :
```php
public function list(): Response
{
return $this->render('product/list.html.twig');
}
```
difficulty: 2
category: PHP
answers:
- answer_content: |
  Here's an answer, it might be right or wrong and have some `code` or code block :
```php
public function list(): Response
{
return $this->render('product/list.html.twig');
}
```
correct_answer: true
- answer_content: |
  Here's an answer, it might be right or wrong and have some `code` or code block :
```css
.class {
    display: none;
}
```
correct_answer: false
- answer_content: |
  Here's an answer, it might be right or wrong and have some `code` or code block :
```html
<div class="wrapper">
    <div class="page-separator-container">
        <h2 class="title">Dashboard</h2>
    </div>
</div>
```
correct_answer: true
- answer_content: |
  Here's an answer, it might be right or wrong and have some `code` or code block :
```javascript
useEffect(() => {
    console.log(exemple)
}, [exemple]);
```
correct_answer: false
```
2. 20 questions
3.
