{% if form.status is defined %}
    <div>
        <h2 class="small-title">{{ form.status.vars.label }}</h2>
        <ul class="tags-container">
            <li class="flex">
                <span class="tag">
                    {{ form_widget(form.status) }}
                    {{ form_label(form.status) }}
                </span>
            </li>
        </ul>
    </div>
{% endif %}