
    <div class="flex items-center  ml-32 rounded-radius-primary bg-dark-grey-secondary">
        <img src="{{ asset('images/decoration/mockup.png') }}" alt="Desktop and mobile friendly"
             class="w-[600px] object-contain -ml-32 -mt-32 -mb-28">

        <div class="p-spacing-primary flex flex-col gap-4">
            <h3 class="text-3xl font-secondary">
                {#                    <span class="material-icons">question_mark</span> #}
                Play anywhere, anytime
            </h3>
            <p class=" text-lg opacity-75">Quizstack's mobile-first design means you can strengthen your development
                skills during your commute, lunch break, or whenever inspiration strikes.</p>
            <p class=" text-lg opacity-75">Our responsive interface adapts perfectly to any screen size, providing a
                seamless quiz experience
                whether you're on a smartphone, tablet, or desktop.</p>
        </div>
    </div>
