<div class="wrapper wrapper-large pt-spacing-very-large-primary pb-spacing-large-primary">
    <div class="flex flex-col lg:flex-row items-center lg:ml-32 rounded-radius-primary bg-dark-grey-secondary">
        <img src="{{ asset('images/decoration/mockup.png') }}" alt="Desktop and mobile friendly"
             class="w-[600px] max-w-full md:max-w-[50%] object-contain -mb-12 md:mb-0 -md:ml-32 -mt-32 -md:mb-28">
        <div class="p-spacing-primary flex flex-col gap-4">
            <h3 class="text-3xl font-semibold font-secondary">
                Play anywhere, anytime
            </h3>
            <p class=" text-lg opacity-75">Quizstack's mobile-first design means you can strengthen your development
                skills during your commute, lunch break, or whenever inspiration strikes.</p>
            <p class=" text-lg opacity-75">Our responsive interface adapts perfectly to any screen size, providing a
                seamless quiz experience
                whether you're on a smartphone, tablet, or desktop.</p>
        </div>
    </div>
</div>