<div class="low-light left"></div>
<div class="wrapper wrapper-large pb-spacing-very-large-secondary">
    <div class="flex items-center gap-spacing-large-primary">
        <div class="flex flex-col gap-4 {# glass box bg-dark-grey-secondary #}">
            <h3 class="text-3xl font-secondary">
                {#                    <span class="material-icons">question_mark</span> #}
                Join our community
            </h3>
            <p class=" text-lg opacity-75">Share insights, ask questions, and connect with fellow developers through
                our integrated comment system.</p>
            <p class=" text-lg opacity-75">With full Markdown support, you can easily format code snippets, share
                resources, and engage in meaningful discussions about each quiz question.</p>
        </div>
        <img src="{{ asset('images/decoration/comment.png') }}" alt="Community comments"
             class="w-[600px] object-contain -mr-16">
    </div>
</div>

<div class="low-light right"></div>
<div class="wrapper wrapper-large pb-spacing-large-secondary">
    <div class="flex items-center gap-spacing-large-primary">
        <img src="{{ asset('images/decoration/question.png') }}" alt="Community comments"
             class="w-[600px] object-contain -ml-16">
        <div class="flex flex-col gap-4 {# glass box bg-dark-grey-secondary #}">
            <h3 class="text-3xl font-secondary">
                {#                    <span class="material-icons">question_mark</span> #}
                Contribute by proposing questions
            </h3>
{#            <p class=" text-lg opacity-75">Help Quizstack grow !</p>#}
            <p class=" text-lg opacity-75">As a registered user, you can submit your own web development questions
                through your dashboard.</p>
            <p class=" text-lg opacity-75">Each contribution is reviewed by our team before being added to the
                platform.</p>
            <p class=" text-lg opacity-75">Share your expertise, help fellow developers learn, and earn recognition in
                our community.</p>
        </div>
    </div>
</div>