{% extends 'layout.html.twig' %}

{% set title = 'Page not found' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'red', 'animate' : 'animate'}) }}
    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Page not found</h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="glass box flex flex-col gap-spacing-primary">
            <div>
                <h2 class=small-title>
                    <span class="material-icons">error</span>
                    Looks like this page is missing...
                </h2>
                <p>The page you are looking for cannot be found.
                    This may be due to a temporary issue or the page may have been moved or removed.</p>
            </div>
            <div class="buttons-container">
                <a href="{{ path('app_home') }}" class="button button-primary">
                    Home
                </a>
            </div>
        </div>
    </div>

{% endblock %}